;root{

    ---small-border:var(1px solid lightblue)
    ---small-text:var(12px)
    ---big-border:var(3px solid lightgrey)
    ---big-text:var(24px)
    ---heading-text:var(32px)
}

*{
    margin:10px;
    box-sizing:border-box;
}

#modal-box{
    /*display:none;*/
    width:65%;
    height:30%;
}

